@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  background-image: url(images/bg-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: hsl(257, 40%, 49%);
  margin: 0;
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
main {
  width: 1280px;
  max-height: 100%;
  margin: 30px auto;
}
.img {
  max-width: 100%;
}
.bottom-box {
  margin-top: 40px;
  display: flex;
}
.left {
  flex-basis: 60%;
  margin-right: 30px;
}
.right {
  flex-basis: 40%;
  margin-top: 30px;
}
h1 {
  font-size: 40px;
}
.btn {
  margin: 10px;
  width: 200px;
  height: 50px;
  border-radius: 30px;
  font-size: 16px;
  color: hsl(257, 40%, 49%);
  border: 1px solid #fff;
  transition: all 0.2s ease-in-out;
  box-shadow: 1px 3px 5px #111;
}
.btn:hover {
  transform: scale(1.1);
}
.social {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin: 50px 0;
}
.social a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 1px solid #fff;
  padding: 5px;
  margin: 5px;
  transition: all 0.2s ease-in-out;
}
.social a:hover {
  transform: scale(1.1);
}
@media (max-width: 375px) {
  .bottom-box {
    flex-direction: column;
  }
  section {
    text-align: center;
    padding: 20px;
  }
  .left {
    margin: 0;
  }
  .right {
    margin: 0;
  }
  .social {
    justify-content: center;
  }
}
